<h1>Jobs</h1>
<table>
  <thead>
    <tr>
      <th>Name, Description</th>
      <th>Compañía</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td>
            <h5> <%= job.name %> </h5>
            <%= job.description %>
        </td>
        <td><%= job.company.try(:name) %></td>
        <td><img src="<%= job.company.try(:photo) %>" width="128" height="96"></td>

        <td><%= job.city.try(:name) %></td>
        <td>
          <% if @my_applications.include?(job.id) %>
            Postulando
          <% else %>
            <%= link_to 'Postular', job_applications_path(job), method: :post %></td>
          <% end %>
        <!-- <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
